<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head'); %>
  <title>Unstoppable Car Rental</title>
</head>
<body class="body-wrap nav-style-two">

  <%- include('../partials/navbar'); %>
  
  <!-- align-items-center -->
  <div class="row tab_container">
    <div class="col-md-2 col-sm-12">
      <div class="button_container">
        <button class="btn button zoom-load" onclick="showPanel(0)">Personal Info</button>
        <button class="btn button zoom-load" onclick="showPanel(1)">My Reservation</button>
        <button class="btn button zoom-load" onclick="showPanel(2)">Billing Info</button>
        <button class="btn button zoom-load" onclick="showPanel(3)">Payment History</button>
        <button class="btn button zoom-load" onclick="showPanel(4)">Security</button>
      </div>
    </div>
    <div class="col-md-10 zoom-load">
      <!-- PERSONAL INFO -->
      <div class="tab_panel personal-info">
        <div class="container">
          <div class="row">
            <div class="col-4 profile_img-section">
              <img src="/images/profile-img.png" alt="...">
            </div>
            <div class="col-md-6 profile_content">     
              <form action="/editAccountProfile" method="POST"></form>
              <!-- NAME -->
              <div class="user-info mt-4" id="name_section">
                <div class="user_data">
                  <label for="name">Name</label>
                  <div class="text-muted" id="name_data">
                    <%= user[0].fullname %>
                  </div>
                </div>
  
                <!-- EDIT -->
                <form autocomplete="off">
                  <div class="info_edit hide" id="name_info">
                    <div>
                      <label for="firstName">Full Name</label>
                      <div class="input-group flex-nowrap mb-1">
                        <input type="text" class="form-control" placeholder="" aria-label="first_name" aria-describedby="addon-wrapping" value="<%= user[0].fullname%>"id="first_name" required>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- EMAIL -->
              <div class="user-info mt-4" id="email_section">
                <div class="user_data">
                  <label for="email">Email</label>
                  <div id="email_data">
                    <div class="text-muted">
                      <%= user[0].email %>
                    </div>
                  </div>
                </div>
                <!-- EDIT -->
                <div class="info_edit hide" id="email_info">
                  <div>
                    <label for="confirmEmail">Email</label>
                    <div class="input-group flex-nowrap mb-1">
                      <input type="text" class="form-control" placeholder="Confirm new email" aria-label="c_new_email" aria-describedby="addon-wrapping" value="<%= user[0].email %>"id="c_new_email" required>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PHONE -->
              <div class="user-info mt-4" id="phone_section">
                <div class="user_data">
                  <label for="phone_number">Phone number</label>
                  <div id="phone_data">
                    <div class="text-muted">
                      <%= user[0].contact_no %>
                    </div>
                  </div>
                </div>
                
                <!-- EDIT -->
                <div class="info_edit hide" id="phone_info">
                  <div>
                    <label for="phone">Phone</label>
                    <div class="input-group flex-nowrap mb-1">
                      <input type="text" class="form-control" placeholder="Phone" aria-label="new_phone" aria-describedby="addon-wrapping" value="<%= user[0].contact_no %>" id="new_phone" required>
                    </div>
                  </div>
                </div>
              </div>
              <!-- BDAY -->
              <div class="user-info mt-4" id="dob_section">
                <div class="user_data">
                  <label for="date_of_birth">Date of Birth</label>
                  <div id="dob_data">
                    <div class="text-muted">
                      <%= user[0].birthdate %>
                    </div>
                  </div>
                </div>
                <!-- EDIT -->
                <div class="info_edit hide" id="dob">
                  <div class="row w-75">
                    <div class="col month">
                      <label for="edit_month">Month</label>
                      <!-- BDAY-OPTIONS MONTH -->
                      <select class="form-control edit_month" id="birth_month">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                    </div>
                    <!-- BDAY-OPTIONS DAT-->
                    <div class="col day">
                      <label for="edit_day">Day</label>
                      <div class="input-group flex-nowrap mb-1">
                        <input type="number" class="form-control" placeholder="Day" aria-label="birth_day" aria-describedby="addon-wrapping" id="birth_day"  min="1" max="31" required>
                      </div>
                    </div>
                    <!-- BDAY-OPTIONS YEAR -->
                    <div class="col year">
                      <label for="edit_year">Year</label>
                      <div class="input-group flex-nowrap mb-1">
                        <input type="number" class="form-control" placeholder="Year" aria-label="birth_year" aria-describedby="addon-wrapping" id="birth_year" min="1800" max="2025" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ADDRESS -->
              <div class="user-info mt-4" id="address_section">
                <div class="user_data">
                  <label for="address">Address</label>
                  <div id="address_data">
                    <div class="d-flex justify-content-between">
                      <div class="mt-1 text-muted address_block">
                        <%= user[0].address %>
                        <!-- <p class="text-muted" id="user_addressTwo"></p>
                        <p class="text-muted" id="user_address_city"></p>
                        <p class="text-muted" id="user_address_country"></p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- EDIT -->
                <div class="info_edit hide" id="edit_address">
                  <div>
                    <label for="addressLineOne">Address Line 1</label>
                    <div class="input-group flex-nowrap mb-1">
                      <input type="text" class="form-control" placeholder="Address Line 1" aria-label="address_line_one" aria-describedby="addon-wrapping"  value="    <%= user[0].address %>"id="address_line_one" required>
                    </div>
                    <!-- <label for="addressLineTwo">Address Line 2</label>
                    <div class="input-group flex-nowrap mb-1">
                      <input type="text" class="form-control" placeholder="Address Line 2" aria-label="address_line_two" aria-describedby="addon-wrapping" id="address_line_two" required>
                    </div> -->
                    <div class="row">
                      <div class="col city">
                        
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- LICENSE -->
              <div class="user-info mt-4" id="license_section">
                <div class="user_data">
                  <label for="license">Driver's License</label>
                  <div id="license_data">
                    <p class="mt-1 text-muted" id="licsense_no"></p>
                    <%= user[0].license_no %>
                  </div>
                </div>
                <!-- EDIT -->
                <div class="info_edit hide" id="license_info">
                  <div>
                    <label for="license">License's Number</label>
                    <div class="input-group flex-nowrap mb-1">
                      <input type="text" class="form-control" placeholder="Driver License's Number" aria-label="new_license" value="<%= user[0].license_no %>"aria-describedby="addon-wrapping" id="new_license" required>
                    </div>
                    <div class="row">
                      
                      <!-- EXPIRY DATE -->
                      <div class="col month">
                        <label for="edit_month">Month</label>
                        <select class="form-control edit_month" id="exp_month">
                          <option>January</option>
                          <option>February</option>
                          <option>March</option>
                          <option>April</option>
                          <option>May</option>
                          <option>June</option>
                          <option>July</option>
                          <option>August</option>
                          <option>September</option>
                          <option>October</option>
                          <option>November</option>
                          <option>December</option>
                        </select>
                        <label for="date_expire" style="font-size: 11px;">Expiration Date</label>
                      </div>
                      <!-- DAY -->
                      <div class="col day">
                        <label for="edit_day">Day</label>
                        <div class="input-group flex-nowrap mb-1">
                          <input type="text" class="form-control" placeholder="Day" aria-label="new_day_" aria-describedby="addon-wrapping" id="exp_day" required>
                        </div>
                      </div>
                      <!-- YEAR -->
                      <div class="col year">
                        <label for="edit_year">Year</label>
                        <div class="input-group flex-nowrap mb-1">
                          <input type="text" class="form-control" placeholder="Year" aria-label="new_year_" aria-describedby="addon-wrapping" id="exp_year" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="info_edit btn-alt2-smol hide">
                <input class="btn active" type="button" value="Save Changes" onclick="editData()">
                <button class="btn" onclick="closeEdit()">Cancel</button>
              </div>
             
            </form>
            </div>
            <div class="col-md-1">
              <div id="edit_btn">
                <button class="btn" onclick="editBtn()">
                  <i class="bi bi-pencil-square edit-icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BOOKINGS -->
      <div class="tab_panel">
          <div class="bookings-tbl" style="padding: 50px;">
          <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Vehicle</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    
                    <th>Created Date</th>  
                    <th>Action</th> 
                </tr>
            </thead>
            <tbody>
                
              <% for(var i=0; i < bookings.length; i++) { %>
                <tr>
                  <td><%= bookings[i].user_id %></td>
                  <td><%= bookings[i].vehicle_brand_model %></td>
                  <td><%= bookings[i].rent_startDate %></td>
                  <td><%= bookings[i].rent_endDate %></td>
                  <td>
                    <% if (bookings[i].status == 'success') { %>
                      <span class="btn btn-success" style="text-transform: uppercase;"><%= bookings[i].status %></span>
                      <%} else { %>
                        <span class="btn btn-warning" style="text-transform: uppercase;"  ><%= bookings[i].status %></span>
                      <% } %>   
                  
                  </td>
                  <td>
                    <%= bookings[i].createdAt %>
                  </td>
                  <td>
                    <% if (bookings[i].status == 'success') { %>
                      <span class="btn btn-danger disabled" style="text-transform: uppercase;">Cancel</i></span>
                    
                          
                          
                          <%} else { %>
                            <span class="" style="text-transform: uppercase;">
                              <form method="POST" action="/">
                                <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">Cancel</i></a>
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete this booking  ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        ...
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                              </form>
                        </span>
                      <% } %>  
                  </td>
                </tr>
            </tbody>
            <% } %>
        </table>
      </div>
      </div>
      <!-- BILLING INFO -->
      <div class="tab_panel">
      </div>
      <!-- PAYMENT HISTORY -->
      <div class="tab_panel">
      </div>
      <!-- SECURITY -->
      <div class="tab_panel">
      </div>
    </div>

    
  </div>

  <%- include('../partials/footer') %>

  <script src="/js/profile.js"></script>
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );

  </script>
</body>
</html>