<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <title>Car Details</title>
</head>
<body class="body-wrap nav-style-two">
  
  <%- include('../partials/navbar'); %>
  
  <section>
    <div class="container mt-5 content">
      <div class="btn-blue mb-2">
        <button id="prev" class="prev-btn btn zoom-load">
          <i style="font-size:16px" class="fa">&#xf060;</i>
        </button>
      </div>
      <div class="row" id="image_gallery">
        <div class="col-lg-8 gallery_row">
          <!-- APPEND IMAGE -->
          <div class="gallery_img zoom-load">
            <img src="<%= car[0].image%>" alt="" id="img0">
          </div>
        </div>
        <div class="col-lg-2 col-md-12 side_bar_gallery">
          <div class="col zoom-load">
            <img src="<%= car[0].image %>" class="side_bar_img" id="img1">
          </div>
          <div class="col zoom-load">
            <img src="<%= car[0].image %>" class="side_bar_img" id="img2">
          </div>
          <div class="col zoom-load">
            <img src="<%= car[0].image %>" class="side_bar_img" id="img3">
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row mt-5 detail_row zoom-load">
        <div class="col-lg-8 detail_field">
          <!-- TITLE -->
          <h5 id="title"></h5>
          <hr>
          <h5>Description</h5>
          <!-- DESCRIPTION -->
          <p id="description"></p>
          <hr>
          <h5>Specification</h5>
          <ul id="specs">
            <li><i class="fas fa-users">&nbsp;&nbsp;<%= car[0].capacity %></i></li>
            <li style="margin-left: 100px;"><i class="fas fa-car">&nbsp;&nbsp;<%= car[0].transmission %></i></li>
            <li style="margin-left: 100px;"><i class="fas fa-car">&nbsp;&nbsp;<%= car[0].transmission %></i></li>
            <li style="margin-left: 100px;"><i class="fas fa-car">&nbsp;&nbsp;<%= car[0].transmission %></i></li>
          </ul>
          <hr>
        </div>
        <div class="col-lg-4 detail_field"></div>
      </div>
    </div>
  
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <!-- <div id="caption"></div> -->
    </div>
    <br><br><br>
  </section>
  
  <%- include('../partials/footer'); %>

  <script>
    
    $(document).ready(function() {

      $("img").click(function() {
        zoom(this.id);
      });

      $("#description").text("You can add here your description.");

      for (let j = 0; j < detail_specs.length; j++) {
        let spec_li = document.createElement('li');
        spec_li.innerText = detail_specs[j];
        $("#specs").append(spec_li);
      }
    });

    $("#prev").click(function() {
        window.history.back();
    });

    //RESIZE
    $(window).resize(function () {
      var viewportWidth = $(window).width();
      if (viewportWidth < 993) {
        $(".side_bar_gallery").addClass('d-flex');
        $(".side_bar_gallery").addClass('pt-5');
      } else {
        $(".side_bar_gallery").removeClass('d-flex');
        $(".side_bar_gallery").removeClass('pt-5');
      }
    });

    //MODAL
    function zoom(img_id) {
      let modal = $("#myModal");
      let img = document.getElementById(img_id);
      let modalImg = $("#img01");
      modal.css("display", "block");
      modalImg.attr('src', img.src);
      $(".close").click(function() {
        modal.css("display", "none");
      });
    }
  </script>
</body>

</html>