<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('../partials/head'); %>
  
  <title>Reservation</title>
</head>
<body class="body-wrap nav-style-two">
  
  <%- include('../partials/navbar'); %> 

  <div class="container reserve_wrapper">

    <!-- Modal -->
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Terms and Conditions</h3>
          </div>
          <div class="modal-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur ipsa quidem mollitia sint sequi, quam nemo ratione dignissimos sapiente eaque labore commodi, nam dolorem odio, cupiditate dolor neque iste?
              Labore quos aspernatur saepe impedit culpa laboriosam delectus consequuntur dolor totam porro? Atque labore architecto placeat illo aut quasi officia, nostrum nisi tempora veniam voluptatibus sunt minus inventore velit laudantium.
              Provident ab laudantium sint voluptate, ea ullam officia nam voluptatibus nulla, animi ipsa obcaecati est voluptatem impedit at sed nostrum consectetur reiciendis labore. Expedita, inventore ipsum laborum ducimus enim mollitia?
              Ratione, recusandae illo eligendi iste maiores dolorum odit corrupti quod veritatis mollitia neque fugit deserunt? Maiores similique deleniti iusto itaque et totam doloremque fugiat sunt, incidunt ipsa possimus id illum!
              Corporis quia corrupti incidunt iusto blanditiis deserunt, reiciendis vero quisquam at excepturi. Exercitationem, consequatur. Illum hic doloribus quasi ab? Cum, ipsa? Dicta vero aliquid, incidunt magnam deserunt impedit reprehenderit hic!
              Delectus ducimus magni harum dolorum pariatur nihil aut eveniet reprehenderit atque laboriosam quod ipsam sed non at voluptate omnis tempora rerum natus quasi tenetur, facilis amet! Amet blanditiis veritatis asperiores?
              Voluptate, velit eius? Ducimus labore assumenda doloremque quisquam minima deserunt temporibus officiis eligendi, praesentium minus! Neque, eos dignissimos, quisquam labore omnis delectus consequatur harum in adipisci, illum quidem voluptas maiores!
              Voluptatibus suscipit minima quia expedita quibusdam, voluptas tenetur dolorem, rerum adipisci placeat assumenda laboriosam recusandae aliquam eaque rem officiis dolorum accusamus enim. Non debitis, dolorem tempore ad excepturi voluptate commodi!</p>
          </div>
          <div class="modal-footer">
            <div class="btn-blue">
              <button class="btn" id="tc-btn">Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- STEPS -->
    <div class="step-row">  
      <div class="col steps active_step" id="step1">
        <div class="step-col step">1</div>
        <p>Reservation detail</p>
      </div>
      <div class="col steps" id="step2">
        <div class="step-col step">2</div>
        <p class="text-muted">Additional Products</p>
      </div>
      <div class="col steps" id="step3">
        <div class="step-col step">3</div>
        <p class="text-muted">Payment</p>
      </div>
      <div class="col steps" id="step4">
        <div class="step-col step">4</div>
        <p class="text-muted">Reserved completed</p>
      </div>
    </div>
    
    <form action="/booking/<%= car[0].id %>" method="post" >

      <div class="row ">
        <div class="col form-column form-list">
          <!-- FIRST STEP FORM -->
          <div class="row reserve_row form-class"  id="step1-form">
            <div class="col-lg-6">
              <label for="reserve_pick_up_date" class="col-2 col-form-label">Pick-up date*</label>
              <input class="form-control date "  type="date" value="" name="reserve_pick_up_date" id="reserve_pick_up_date" required>
            </div>  
            <div class="col-lg-6">
              <label for="reserve_return_date" class="col-2 col-form-label">Return date*</label>
              <input class="form-control "    type="date" value="" name="reserve_return_date" id="reserve_return_date" required>
            </div>
            <div class="col-lg-6">
              <label for="reserve_first_name" class="col-2 col-form-label">Number of Days Rent *</label>
              <input class="form-control" type="text" value="" name="no_of_days" id="no_of_days" required>
            </div>
            <div class="col-lg-6">
              <label for="reserve_first_name" class="col-2 col-form-label">Rent Type *</label>
              <select class="form-control" type="" value="" name="rent_type" id="rent_type" required>
              <option value="Daily">Daily</option>
              <option value="Monthly">Monthly</option>
              </select>
            </div>
            <div class="col-lg-12">
              <label for="reserve_notes" class="col-2 col-form-label">Notes</label>
              <textarea class="form-control" name="reserve_notes" id="reserve_notes" cols="30" rows="6"></textarea>
              <p class="text-muted">Enter additional notes here.</p>
            </div>
            <div class="col-lg-12">
              <label class="custom-control custom-checkbox mt-4">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">I agree with the above terms and conditions*</span>
              </label>
            </div>
            <!-- STEP ONE BUTTON -->
            <div class="col-lg-12">
              <div class="btn-blue mt-5">
                <button class="btn" id="btn_step1">Continue</button>
              </div>
            </div>
          </div>
          <!-- SECOND STEP FORM -->
          <div class="row form-class" id="step2-form">
            <div class="col-md-12 form-column">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Additional driver</th>
                    <td>PHP 100.00</td>
                    <td>0</td>
                    <td>PHP 0.00</td>
                    <td>
                      <div class="btn-blue">
                        <button class="btn">Add</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Child safety seat</th>
                    <td>PHP 50.00</td>
                    <td>0</td>
                    <td>PHP 0.00</td>
                    <td>
                      <div class="btn-group btn-blue" role="group" aria-label="Basic example">
                        <button type="button" class="btn">-</button>
                        <button type="button" class="btn">+</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">GPS device</th>
                    <td>PHP 100.00</td>
                    <td>0</td>
                    <td>PHP 0.00</td>
                    <td>
                      <div class="btn-blue">
                        <button class="btn">Add</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- STEP TWO BUTTON -->
            <div class="col-lg-12">
              <div class="btn-blue mt-5">
                <button class="btn" type="submit" id="btn_step2">Make reservation</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- PRICE COLUMN -->
          <div class="row">
            <div class="col price_col">
              <div class="rate_wrap">
                <h4>Your rate</h4>
                <div class="d-flex justify-content-between">
                  <div class="prices">
                    <p>Daily Rate</p>
                    
                  </div>
                  <p>PHP <%=  car[0].price_per_day %></p>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <p>Total</p>
                  <p>PHP 90.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </form>
  </div> 
  
  <br><br><br>
    
  <%- include('../partials/footer'); %>

  <script src="/js/calendar.js"></script>
  <script>
      var data = [];
      var i = 0;
  </script>
  
  <!-- loop thru the booking sched and then put it in an array then pass to the caledar  -->
  <% car.forEach(function(cars){ %>
    <script>

         data[i]  = '<%= cars.rent_startDate %>'
          i++;
        
    </script>
   
    <% }) %>

  <script type="text/javascript">
    var Form1 = document.getElementById("step1-form");

    function next() {
      // Form1.style.left = "-120rem";
    }

    $(document).ready(function() {

      // $('#myModal').modal('show');
      $('#tc-btn').click(function() {
        $("#myModal").modal("hide");
      }); 

      $("#btn_step1").click(function() {
        // STEPS STYLE SCRIPTS
        $("#step1").removeClass("active_step");
        $("#step1").find("p").addClass("text-muted");
        $("#step2").addClass("active_step");
        $("#step2").find("p").removeClass("text-muted");

        // FORM SCRIPTS
        $("#step1-form").css('left', -120 + 'rem');
        $("#step2-form").css('left', 0);
      });

      $("#btn_step2").click(function() {
        $("#step2").removeClass("active_step");
        $("#step2").find("p").addClass("text-muted");
        $("#form2").addClass("hide");
        $("#form3").removeClass("hide");
        $("#step3").addClass("active_step");
        $("#step3").find("p").removeClass("text-muted");
      });

      $("#btn_step3").click(function() {
        $("#step3").removeClass("active_step");
        $("#step3").find("p").addClass("text-muted");
        $("#form3").addClass("hide");
        $("#form4").removeClass("hide");
        $("#step4").addClass("active_step");
        $("#step4").find("p").removeClass("text-muted");
      });

      $("#add_driver").click(function() {
        add_driver++;
        $("#add_driver_qty").text(add_driver);
        $("#add_driver_sub").text("PHP "+ add_driver*100+".00");
        $("#add_driver_wrap").addClass("hide");
        $("#remove_driver_wrap").removeClass("hide");
        total+= parseInt(add_driver*100);
        $("#total_rate").text("PHP "+ total + ".00");
      });

      $("#remove_driver").click(function() {
        total -= parseInt(add_driver*100);
        $("#total_rate").text("PHP "+ total + ".00");
        add_driver--;
        $("#add_driver_qty").text(add_driver);
        $("#add_driver_sub").text("PHP "+ add_driver*100+".00");
        $("#add_driver_wrap").removeClass("hide");
        $("#remove_driver_wrap").addClass("hide");
      });

      $("#add_gps").click(function() {
        add_gps++;
        $("#add_gps_qty").text(add_gps);
        $("#add_gps_sub").text("PHP "+ add_gps*100+".00");
        $("#add_gps_wrap").addClass("hide");
        $("#remove_gps_wrap").removeClass("hide");
        total+= parseInt(add_gps*100);
        $("#total_rate").text("PHP "+ total + ".00");
      });

      $("#remove_gps").click(function() {
        total -= parseInt(add_gps*100);
        $("#total_rate").text("PHP "+ total + ".00");
        add_gps--;
        $("#add_gps_qty").text(add_gps);
        $("#add_gps_sub").text("PHP "+ add_gps*100+".00");
        $("#add_gps_wrap").removeClass("hide");
        $("#remove_gps_wrap").addClass("hide");
      });

      $("#add_safety").click(function() {
        if(add_safety != 2) {
          add_safety++;
          $("#add_safety_qty").text(add_safety);
          $("#add_safety_sub").text("PHP "+add_safety*50+".00");
          total += parseInt(add_safety*50);
          $("#total_rate").text("PHP "+ total + ".00");
        }
      });

      $("#remove_safety").click(function() {
        if(add_safety != 0) {
          total -= parseInt(add_safety*50);
          $("#total_rate").text("PHP "+ total + ".00");
          add_safety--;
          $("#add_safety_qty").text(add_safety);
          $("#add_safety_sub").text("PHP "+add_safety*50+".00");
        }
      });
    });

    function payNow() {
      window.open("payment.html", '_blank');
    };

    var disableDates = ["16-5-2021", "14-5-2021", "15-5-2021","9-5-2021"];
    $('.datepicker').datepicker({
        format: 'yyyy-dd-mm',
        beforeShowDay: function(date){
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if(disableDates.indexOf(dmy) != -1){
                return false;
            }
            else{
                return true;
            }
        }
    });
  </script>
</body>
</html>